body {
  margin: 0;
  padding: 0;
}

.TopBar {
  background-color: #696969;
  height: 5vh;
  position: sticky;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadingDiv {
  background-color: #1a1a1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingP {
  color: #fff;
  font-size: 30px;
  margin: 0;
}

.pagebtn {
  background-color: transparent;
  color: red;
  border: none;
}
.pagebtn:hover {
  cursor: pointer;
  background-color: #696969;
}
