body {
  margin: 0;
  padding: 0;
}

/* 상단 바 스타일 */
.TopBar {
  background-color: #696969;
  height: 5vh;
  position: sticky;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 로딩중 화면 스타일 */
.loadingDiv {
  background-color: #1a1a1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 로딩중 글자 스타일 */
.loadingP {
  color: #fff;
  font-size: 30px;
  margin: 0;
}

/* 영화 리스트 페이지 이동 버튼 스타일 */
.pagebtn {
  background-color: transparent;
  color: red;
  border: none;
}
.pagebtn:hover {
  cursor: pointer;
  background-color: #696969;
}
